.wrapper {
  padding: 20rpx;
}
.pictures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20rpx;
  content-visibility: auto;
  image {
    width: 48%;
    margin-bottom: 15rpx;
    border-radius: 10rpx;
  }
}
