.search_wrapper {
  display: flex;
  align-items: center;
  .share_icon {
    margin-right: 20rpx;
  }
  .search {
    width: 400rpx;
    flex: 3;
    background-color: #fdeccd;
    border-radius: 30rpx;
    color: rgb(170, 170, 170);
    font-size: 28rpx;
    display: flex;
    padding-left: 50rpx;
    box-sizing: border-box;
    align-items: center;
    .search_icon {
      display: inline-block;
      margin: 0 5rpx;
      margin-top: 3rpx;
    }
  }
}
