.search_wrapper {
  padding: 20rpx;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20rpx;
  image {
    width: 350rpx;
    border-radius: 10rpx;
    margin-bottom: 20rpx;
  }
}
.hotsearch {
  .title {
    font-size: 30rpx;
    color: rgb(71, 71, 71);
  }
  .search_item {
    display: flex;
    flex-wrap: wrap;
    .tag {
      padding: 10rpx 20rpx;
      margin: 10rpx;
      background-color: #eee;
      color: rgb(71, 71, 71);
      font-size: 25rpx;
    }
  }
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
